In [2]:
import pandas as pd

In [9]:
sun_data = pd.read_csv('./data/UN_data.csv')

In [11]:
sun_data.shape

(5, 36)

In [12]:
sun_data.head()

,Country or Territory,Station Name,WMO Station Number,National Station Id Number,Period,Element-Statistic Qualifier Code,Statistic Description,Unit,Jan,Jan Footnotes,...,Oct,Oct Footnotes,Nov,Nov Footnotes,Dec,Dec Footnotes,Annual,Annual Footnotes,Annual NCDC Computed Value,Annual NCDC Computed Value Footnotes
0,LUXEMBOURG,LUXEMBOURG,6590.0,NaN,1961-1990,NaN,Percent of Possible,*,16.7,NaN,...,33.0,NaN,20.7,NaN,17.2,NaN,35.9,NaN,-9999.9,1.0
1,LUXEMBOURG,LUXEMBOURG,6590.0,NaN,1961-1990,NaN,Mean Number of Hours,*,43.9,NaN,...,108.9,NaN,55.5,NaN,42.8,NaN,1630.2,NaN,1630.2,NaN
2,SINGAPORE,SINGAPORE/CHANGI,48698.0,NaN,1961-1990,NaN,Mean Number of Hours,*,172.4,NaN,...,155.2,NaN,129.6,NaN,133.5,NaN,2022.4,NaN,2022.4,NaN
3,footnoteSeqID,Footnote,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,code for missing value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
is_mean_nbr_hours = sun_data['Statistic Description'] == 'Mean Number of Hours'
sun_data = sun_data[is_mean_nbr_hours].copy()

In [19]:
clean_data = data.dropna()